*{
  box-sizing: border-box;
}
html,body{
  margin:0;
  font-family: Arial, Helvetica, sans-Serif;
  color: #fff;
  background:#333;
  overflow: hidden;
}

.landing{
  position: relative;
  background-image: url('../img/background.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.landing-inner{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0,0.7);
  text-align: center;
  padding-top: 10px;
}

.landing h1{
  font-size: 50px; 
}

.landing p{
  font-size: 20px; 
}
.countdown{
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
} 

.countdown div{
  padding: 20px;
  border:1px solid #fff;
  border-radius: 10px;
  margin:5px;
  opacity: 0.7;
  background: #000;
}
.countdown div:nth-child(odd){
  background-color: #17a2b8;
}
.countdown span{
  display: block;
  font-size: 25px;
}

/*Media Queries 768px*/
@media (max-width: 768px) {
  .landing h1{
    font-size: 30px;
  }
  .countdown {
    font-size: 35px;
  }
  .countdown div{
    width: 80%;
    padding: 5px;
  }
  .landing-inner{
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 5px;
}

}

/*Media Queries 650px*/
@media (max-width: 650px) {
  .landing h1{
    font-size: 40px;
  }
  .countdown {
    font-size: 30px;
  }
  .countdown div{
    width: 80%;
    padding: 10px;
  }

}

/*Media Queries 480px*/
@media (max-width: 480px) {
  .landing h1{
    font-size: 30px;
  }
  .countdown {
    font-size: 20px;
    flex-direction: column;
  }
  .countdown div{
    width: 60%;
    padding: 10px;
  }

}

/*Media Queries 320px*/
@media (max-width: 320px) {
  .landing h1{
    font-size: 20px;
  }
  .countdown {
    font-size: 15px;
    flex-direction: column;
  }
  .countdown div{
    width: 50%;
    padding: 10px;
  }
  .countdown span{
    font-size: 10px;
  }
}

/*Media Queries of Height*/

@media (max-height: 600px) {
  p{
    display: none;
  }
}


@media (max-height: 400px) {
  p{
    display: none;
  }
}
